.img-title{
    width: 240px;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.cart{
    width: 240px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s;
}
.cart:hover{
    transform: scale(1.05);
}

.down-info{
    background-color: inherit;
    width: 100%;
    padding-top: 30px;
    margin-bottom: 20px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-text{
    background-color: inherit;
    color: inherit;
    font-size: 20px;
    font-weight: 800;
    margin: 5px 0;
    text-align: center;
}

.cart-info{
    background-color: inherit;
    font-size: 16px;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.info{
    background-color: inherit;
    font-weight: 1000;
    display: flex;
    align-items: center;
    gap: 6px;
}

.info p, .info svg{
    background-color: inherit;
    font-size: 14px;
}

.info-another{
    background-color: inherit;
    color: rgb(118, 118, 118);
    font-weight: 400;
}

.info-another p{
    background-color: inherit;
    font-size: 14px;
}