.footer{
    width: 100%;
    height: 350px;
    background-color: #1a1a1a;
    padding: 70px;
    color: rgb(212, 212, 212);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.footer-img{
    width: 200px;
    height: auto;
    background-color: inherit;    
}

.foot-block{
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.foot-block p, 
.button-text-moon-sun p span{
    background-color: inherit;
    color: #fff;
}

.button-text-moon-sun{
    border: 0;
    background-color: inherit;
    color: inherit;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.moon-img{
    margin-right: 10px;
}

.swg-star{
    margin-left: 20px;
    background-color: inherit;
}

.text-data{
    margin-top: 5px;
}

.svg-img-star{
    background-color: inherit;
}

.section-one{
    flex: 2;
}

.section-all{
    flex: 1;
    display: flex;
    align-items: start;
    justify-content: start;
}

.section-all a{
    background-color: inherit;
    color: #fff;
    text-decoration: none;
    margin: 10px 0px;
}

.h5-size{
    font-size: 20px;
    background-color: inherit;
    margin-bottom: 26px;
    font-weight: 800;
}